/* ESTILO GERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primaria: #4f46e5;
    --secundaria: #7c3aed;
    --escuro: #0f172a;
    --maisEscuro: #0a0f1c;
    --claro: #e2e8f0;
    --vidro: rgba(255, 255, 255, 0.1);
}

body {
    background-color: black;
    color: var(--claro);
    position: relative;
    overflow-x: hidden;
}

h1 {
    font-size: 3.5rem;
    color: white;
    font-weight: bold;
    margin: 20px;
    text-align: center;
}

h2 {
    text-align: center;
}

/* FUNDO DO SITE */

.light-waves-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    background-color: #000000;
    overflow: hidden;

    background-image:
        radial-gradient(circle at 15% 30%, rgba(7, 9, 116, 0.4) 0%, transparent 60%),
        radial-gradient(circle at 85% 70%, rgba(23, 48, 190, 0.4) 0%, transparent 60%),
        radial-gradient(circle at 40% 90%, rgba(63, 70, 138, 0.3) 0%, transparent 70%),
        radial-gradient(circle at 60% 10%, rgba(10, 10, 211, 0.3) 0%, transparent 70%);
        
    filter: blur(80px);
}

/* MENU */

.navegacao {
    position: fixed;
    top: 0;
    background: rgba(15, 23, 42, 0.8);
    width: 100%;
    z-index: 100;
    padding: 1.5rem;
}

.menu {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 3rem;
}

.menu-link {
    text-decoration: none;
    color: var(--claro);
    font-weight: 500;
    position: relative;
    padding: 0.5rem;
    font-size: 20px;
}

.menu-link::after {
    content: '';
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, var(--primaria), var(--secundaria));
    transition: width 0.5s ease;
}

.menu-link:hover::after {
    width: 100%;
}

/* PERFIL */

.foto-de-perfil-container {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 100px;

    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);

    position: relative;
    animation: flutuar 5s ease-in-out infinite;
}

.foto-de-perfil-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #e2dcdc, #26124d);
    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    z-index: -1;
    border: none;
}

.foto-de-perfil-container img {
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    object-fit: cover;
    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
}

@keyframes flutuar {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}

.cabecalho {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cabecalho-sub-titulo {
    font-size: 1.5rem;
    color: var(--claro);
    text-align: center;
}

.perfil-e-sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.perfil-completo {
    position: relative;
    margin-top: -50px;
}

/* SOBRE MIM */

.sobre {
    padding: 6rem 2rem;
}

.sobre-titulo {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.sobre-caixa {
    padding: 2rem;
    max-width: 650px;
    margin: 20px auto;
    border-radius: 16px;
    border: 1px solid var(--vidro);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.05);
}

.sobre-paragrafo {
    text-align: center;
    font-size: 1.2rem;
}

/* HABILIDADES */

.habilidades-titulo {
    font-size: 2.5rem;
    margin-top: -100px;
}

.habilidades-secao {
    padding: 6rem 2rem;
}

.habilidades-caixa {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 16px;
    border: 1px solid var(--vidro);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.05);
}

.habilidades-conteiner-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.habilidades-paragrafo {
    text-align: center;
    font-size: 1.2rem;
}

.habilidades {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.card-habilidade {
    background: rgba(255, 255, 255, 0.2);
    padding: 12px 18px;
    border-radius: 10px;
    font-weight: bold;
    transition: transform 0.2s, background 0.3s;
}

.card-habilidade:hover {
    transform: scale(1.05);
    background: rgba(255, 255, 255, 0.3);
}

/* PROJETOS */

.projetos {
    padding: 6rem 2rem;
}

.projetos-card {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    border: 1px solid var(--vidro);
    overflow: hidden;
    transition: all 0.5s ease;
    cursor: pointer;
}

.projetos-imagem {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.projetos-titulo {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.projetos-card:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transform: translateY(-10px) scale(1.03);
}

.projetos-caixa {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.info-projetos {
    margin-bottom: 5px;
}

.paragrafo-projetos {
    color: rgba(226, 232, 240, 0.8);
    line-height: 1.25rem;
}

.caixa-textos-projetos {
    padding: 1.5rem;
}

/* CONTATOS */

.contatos {
    padding: 6rem 2rem;
}

.contatos-titulo {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.contatos-subtitulo {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 20px;
    margin-top: 40px;
}

.formulario-contato {
    max-width: 600px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    padding: 2rem;
    border: 1px solid var(--vidro);
    border-radius: 16px;
}

.campo-form {
    width: 100%;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    color: var(--claro);
    border: 1px solid var(--vidro);
    outline: none;
}

.campo-form:focus {
    border-color: var(--secundaria);
    box-shadow: 0 0 10px rgba(79, 70, 229, 0.3);
}

.grupo-form {
    margin-bottom: 1.5rem;
}

.botao-form {
    color: var(--claro);
    background: linear-gradient(45deg, rgb(0, 0, 0), rgb(95, 46, 136));
    padding: 1rem 2em;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    transition: all 0.5 ease;
}

.botao-form:hover {
    transform: translateY(-4px);
    box-shadow: 0 5px 15px rgba(79, 70, 229, 0.4);
}

/* Links Sociais */

.links-sociais {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 2rem;
}